// Place all the styles related to the othello controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.box {
  float: left;
}
div#content {
  // constant
  $board-left:   -15px;
  $board-width:  400px;
  $board-height: 400px;
  //
  div#controller {
    height: 50px;
    margin-left: $board-left;
    .form-group {
      $btn-size: 100px;
      $form-margin: 10px;
      .btn {
        width: $btn-size;
        margin-right: 10px;
      }
      select.form-control {
        width: $board-width - ($btn-size + $form-margin) * 2;
        margin-right: 10px;
      }
    }
  }
  div#othello {
    width:  $board-width;
    height: $board-height;
    border: solid 1px;
    margin-left: $board-left;
    .piece {
      //css
      width: 50px;
      height: 50px;
      position: absolute;
      //constant
      $path: "othello/";
      $type: ".jpg";
      //function
      @function getImgUrl($color) {
        @return image-url($path + $color + $type);
      }
      &.black {
        background-image: getImgUrl("black");
      }
      &.white {
        background-image: getImgUrl("white");
      }
      &.void {
        background-image: getImgUrl("void");
      }
    }
  }
  div#log {
    // constant
    $log-height: 400px;
    $log-width:  200px;
    //
    height: $log-height;
    width:  $log-width;
    margin-left: $board-left + 50;
    iframe#log-content {
      padding: 0px;
      margin:  0px;
      width:  100%;
      height: $log-height;
    }
  }
}
