// Place all the styles related to the othello controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#othello {
  margin-top: -9px;
  margin-left: -9px;
  width: 400px;
  height: 400px;
  border: solid 1px;
  .piece {
    width: 50px;
    height: 50px;
    position: absolute;
    &.black {
      background-image: image-url("othello/black.jpg");
    }
    &.white {
      background-image: image-url("othello/white.jpg");
    }
    &.void {
      background-image: image-url("othello/void.jpg");
    }
  }
}
